.text-right {
    text-align: right;
}

header {
  background-color: #48A5FF;
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 12px;

  .head-title {
    margin-left: 15px;
  }

  .menu-links {
    padding-top: 5px;

    a {
      font-size: 30px;
      color: #FFF;
      font-weight: 900;
      margin: 15px;
    }
  }
  .logo-wrapper {
    img {
      max-height: 35px;
    }
  }
}

#content {
  #glasses-canvas-container {
    text-align: center;
  }

  .glasses-selector {
    border-top: 1px solid #CC771E;
    padding-top: 20px;
    text-align: center;

    .glass-box {
      display: block;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}
