.text-right {
  text-align: right; }

header {
  background-color: #48A5FF;
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 12px; }
  header .head-title {
    margin-left: 15px; }
  header .menu-links {
    padding-top: 5px; }
    header .menu-links a {
      font-size: 30px;
      color: #FFF;
      font-weight: 900;
      margin: 15px; }
  header .logo-wrapper img {
    max-height: 35px; }

#content #glasses-demo {
  text-align: center; }

#content .glasses-selector {
  border-top: 1px solid #CC771E;
  padding-top: 20px;
  text-align: center; }
  #content .glasses-selector .glass-box {
    display: block;
    width: 100%;
    overflow: hidden; }
    #content .glasses-selector .glass-box img {
      width: 100%; }
