.h1
{
	font-family: raleway-n1, sans-serif;
}

.h2
{
	font-family: bebas-neue-n4, sans-serif;
}

.BodyCopy
{
	font-family: source-sans-pro-n3, sans-serif;
}

.stroke_type1
{
	font-family: open-sans-n6, sans-serif;
}

.overlay1
{
	font-family: open-sans-n3, sans-serif;
}

#u3709,#u3709-4,#u3709-7,#u1614,#u1614-4,#u1614-7
{
	font-family: open-sans-n7, sans-serif;
}

#u1624-4
{
	font-family: brawler-n4, serif;
}

#u3709-13,#u1614-13,#widgetu1619.frm-subm-ok-st #u1627-4 p,#u1627-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1630-4
{
	font-family: brawler-n4, serif;
}

#u1701-4
{
	font-family: brawler-n4, serif;
}

#u1743-4
{
	font-family: brawler-n4, serif;
}

#widgetu1623_input,#widgetu1623_prompt,#widgetu1629_input,#widgetu1629_prompt,#widgetu1700_input,#widgetu1700_prompt,#widgetu1741_input,#widgetu1741_prompt
{
	font-family: brawler, serif;
}

#u1170-5,#u769,#u771
{
	font-family: open-sans-n6, sans-serif;
}

#u842-4,#u763-4,#u1064-6
{
	font-family: lato-n9, sans-serif;
}

#u844-7,#u803-9,#u1062-7
{
	font-family: brawler-n4, serif;
}

#u840-15,#u949-4,#u769-16,#u771-6,#u1060-10
{
	font-family: open-sans-n3, sans-serif;
}

#u1260,#u1175
{
	font-family: open-sans-n7, sans-serif;
}

